.cv-container {
    display: flex;
    justify-content: center;
    min-height: 80vh;
}


.cv-main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 950px;
}


@media (max-width: 770px) {
    .cv-main {
        width: 500px;
    }
}